@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
        @apply font-[Raleway];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}
.pipe-effect{
    display: block;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 90%;
    animation: typing 3s steps(15), blink .5s infinite step-end alternate;
    overflow: hidden;
}



@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blink {
    50% {border-color: transparent}
}